* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding-top: 20px;
  padding-right: 100px;
  padding-left: 100px;
}

header img {
  width: 80px;
}

header a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  margin: 50px 15px 0 30px;
  color: #017143;
}

header a:hover {
  color: #02402a;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 600px;
}

section {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  margin-top: 250px;
}

h2 {
  color: #333;
  font-size: 60px;
  font-weight: 500;
}

span {
  color: #017143;
  font-size: 70px;
  font-weight: 900;
}

p {
  font-size: 16px;
}

button {
  background: #017143;
  color: white;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  padding: 15px;
  margin-top: 20px;
}

button:hover {
  background: #02402a;
}

section img {
  width: 340px;
}

.img-thumb {
  display: flex;
  justify-content: center;
}

.img-thumb img {
  width: 60px;
  transition: 1s;
  cursor: pointer;
  margin: 10px;
}

.img-thumb img:hover {
  transform: translateY(-25px);
}

.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #017143;
  top: 0;
  left: 0;
  clip-path: circle(600px at right 800px);
  z-index: -1;
}
